@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family:'Work Sans';
    margin: 0;
    padding: 0;
                      
}
html{
    /* allow me slide when I click in the links of the menu*/
    scroll-behavior: smooth;

}    
/*menu*/
.container-header{
 background: #FF394A;
 position:fixed;
 width: 100%;
top:0;
left:0;
z-index: 99;


}
.container-header header{
    max-width: 1100 px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;


}
.container-header header .photo a{
    font-family: 'fira mono';
    font-size: 36px;
    color:white;
    text-decoration: none;

}

.container-header header ul{
    display: flex;
    list-style:none;

}

.container-header header nav ul li a{

    text-align: none;
    color:black;
    margin: 0 15px;
    padding: 3px;
    transition: .6s;
    text-decoration: none;

}
.container-header header nav ul li a:hover{
color:white;

}
.nav-responsive{
    background-color: black;
    color:white;
    padding:5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display:none;


}
/*Principal section*/
.principal{
    background: linear-gradient(to top,rgba(255, 57, 74, 0.8),rgba(255,57,74,1)),
   url(imagenes/code.jpg);
   background-size: cover;
   height:100vh;
   color:black;
   display: flex;
   align-items: center;

}
.principal .content-banner{
    padding: 20px;
    background-color:#FF394A;
    max-width: 350px;
    margin:auto;
    text-align: center;
    border-radius:  40px;
}
.principal .content-banner img{
    margin-top: 40px;
    border: 10px solid white;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.principal .content-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family:'fira mono';
}
.principal .content-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.principal .content-banner .social a{
    color:black;
    display: inline-block;
    text-decoration: none;
    border: 1.5px solid white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 10px 10px;
    font-size: 20px;
    transition: .3s;
}
.principal .content-banner .social a:hover{
 background-color: white;
}
.about{
    background-color: #FF394A;
    color:white;
    padding:50px 20px;
}

 .about .content-section{
    max-width: 1100px;
    margin:auto;
}
.about h2{
    font-size:48px;
    font-family:'fira mono';
    text-align:center;
    color:black;
    padding:20px 0;
}
.about h3{
    color: black;
    font-size: 30px;
    font-family: 'fira mono';
}

.about .content-section p{
    font:18px;
    line-height: 22px;
    margin-bottom:20px;
}
.about .content-section p span{
}

.about .row{
    display: flex;
}
.about .row .col{
    width: 50%;
}
.about .row .col{
    font-size: 18px;
    font-family: 'fira mono';
    margin-bottom: 25px;
}
.about .row .col ul{
    list-style:none;
}
.about .row .col ul li{
    margin:12px 0;
}
.about .row .col ul li strong{
    display:inline-block;
    color:black;
    width:130px;
}
.about .row .col .container-interests{
    display:flex;
    flex-wrap: wrap;
}

.about .row .col .container-interests .interest{
    width: 100px;
    height: 100px;
    background-color: #FF394A;
    border-radius: 10px;
    margin:0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.about .row .col .container-interests .interest:hover{
    background-color: black;
}
.about .row .col .container-interests .interest{
    font: size 30px;
    margin-bottom: 10px;
}
.about button{
    cursor:pointer;
    background-color: transparent;
    border:2px solid black;
    width: fit-content;
    display: block;
    margin:20px auto;
    padding: 10px 22px;
    font: size 16px;
    color:black;
    position: relative;
    z-index: 10;
}
.about button .overlay{
    position:absolute;
    top:0;
    left:0;
    width:0%;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition:1s;

}
.about button:hover .overlay{
    width: 100%;
}
/*Skills section*/
.skills{
    background-color:#fa5050 ;
    color:black;
    padding: 50px 20px;
}
.skills .content-section{
    max-width: 1100px;
    margin:auto;
    margin-bottom: 20px;
}
.skills h2{
    font-size:48px;
    font-family: 'fira mono';
    text-align: center;
    padding: 20px 0;
    
    
}
.skills .row{
   display:flex;
}
.skills .row .col{
    width:50%;
    padding:0 20px;
    color:white;
}
.name{
    margin-left: 35px;
}
.skills .row .col h3{
    font-size: 18px;
    font-family: 'fira mono';

    padding:20px 0;
    
    color:black;
}
.skills .skill > span{
 font-weight: bold;
 display:block;
 margin-bottom:10px;
}
.skills .skill .skill-bar{
height: 8px;
width:80%;
background-color:#FF394A;
position: relative;
margin-bottom: 20px;

}
.skills .skill .progress{
    background-color: black;
    position:absolute;
    top:0;
    left:0;
    height: 8px;
    

}
.skills .skill .skill-bar span{
position:absolute;
height: 40px;
width:40px;
background-color: black;
border-radius:50px;
line-height: 40px;
text-align:center;
top:-17px;
right:-15px;
font-size:14px;

}
/*we add this class through javascript*/
.skills .skill .javascript{
    width:0%;
    animation:2s javascript forwards;
}
@keyframes javascript {
    0%{width:0%;}
    100%{width:80%;}
}
.skills .skill .HTML-CSS{
    width:0%;
    animation:2s HTML-CSS forwards;
}
@keyframes HTML-CSS {
    0%{width:0%;}
    100%{width:80%;}
}
.skills .skill .ilustrator{
    width:0%;
    animation:2s ilustrator forwards;
}
@keyframes ilustrator {
    0%{width:0%;}
    100%{width:85%;}
}
.skills .skill .indesign{
    width:0%;
    animation:2s indesign forwards;
}
@keyframes indesign {
    0%{width:0%;}
    100%{width:80%;}
}
.skills .skill .photoshop{
    width:0%;
    animation:2s photoshop forwards;
}
@keyframes photoshop {
    0%{width:0%;}
    100%{width:80%;}
}

.skills .skill .r{
    width:0%;
    animation:2s r forwards;
}
@keyframes r{
    0%{width:0%;}
    100%{width:65%;}
}
.skills .skill .a{
    width:0%;
    animation:2s a forwards;
}
@keyframes a{
    0%{width:0%;}
    100%{width:90%;}
}
.skills .skill .d{
    width:0%;
    animation:2s d forwards;
}
@keyframes d{
    0%{width:0%;}
    100%{width:80%;}
}
.skills .skill .t{
    width:0%;
    animation:2s t forwards;
}
@keyframes t{
    0%{width:0%;}
    100%{width:89%;}
}
.skills .skill .p{
    width:0%;
    animation:2s p forwards;
}
@keyframes p{
    0%{width:0%;}
    100%{width:80%;}
}
.skills .skill .c{
    width:0%;
    animation:2s c forwards;
}
@keyframes c{
    0%{width:0%;}
    100%{width:85%;}
}
.skills .skill .res{
    width:0%;
    animation:2s res forwards;
}
@keyframes res{
    0%{width:0%;}
    100%{width:95%;}
}

/*CURRICULUM SECTION*/
.curriculum{
    background-color:#fb5c5c ;
    color:white;
    padding: 50px 20px;
}
.curriculum .content-section{
    max-width: 1100px;
    margin:auto;
    margin-bottom: 20px;
}
.curriculum h2 {
    font-size:48px;
    font-family: 'fira mono';
    text-align: center;
    padding: 20px 0;
    color:black;
    
    
}
.curriculum .row{
   display:flex;
   justify-content: space-between;
   
  
}
.curriculum .row .col{
    width: 100%;
    padding:0 90px;
    
}

.curriculum .row .col h3{
    font-size: 18px;
    font-family: 'fira mono';
    margin-bottom: 25px;
    color:black;
}
.curriculum .row .left{
    border-right:2px solid #fa5050;
}
.curriculum .row .right{
    border-left:2px solid #fa5050;
}
.curriculum .row .item{
    padding: 25px;
    margin-bottom: 20px;
    background-color: #fa5050;
    position: relative;
}

.curriculum .row .item h4{
    font-size:20px;
    margin-bottom: 2px;
}
.curriculum .row .item .home{
color:black;
font-size: 18 px;
font-style: italic;
display: block;
}

 h4{
    color:black;
}

.curriculum .row .item .date{
display:block;
color:black;
margin-bottom: 2px;
font-style: italic;
}
.curriculum .row .item p{
    line-height: 20px;
}
.curriculum .col .left{
    border-right:2px solid white;
    margin-right:20px;
    
}

.curriculum .col .right{
    border-left:2px solid white;
    margin-left: 20px;
   
}

.curriculum .row .item .conectori{
    height:2px;
    background-color: white;
    width:47px;
    position:absolute;
    top:50%;
    right: -47px;
    z-index:5;
}



.curriculum .row .item .conectori .circuloi{
   display:block;
   height:10px;
   width: 10px;
   border-radius:50%;
   background-color: white;
   float:right;
   position:relative;
   bottom:4px;
}

.curriculum .row .item .conectord{
    height:2px;
    background-color: white;
    width:47px;
    position:absolute;
    top:50%;
    left: -47px;
    z-index:5;
}



.curriculum .row .item .conectord .circulod{
   display:block;
   height:10px;
   width: 10px;
   border-radius:50%;
   background-color: white;
   float:left;
   position:relative;
   bottom:4px;
}

/*CONTACT SECTION*/
.contact{
   background-color:#f9655d;
   color:white;
   padding:50px 0;
}
.contact .content-section{
    max-width: 1100px;
    margin:auto;
}
.contact h2{
    font-size:48px;
    font-family: 'fira mono';
    text-align: center;
    padding: 20px 0;
    color:black
}
.contact .row{
    display:flex;
}
.contact .col{
    width:50%;
    padding:10px;
    position:relative;
}
.contact .col input, .contact .col textarea{
    display:block;
    width:100%;
    padding:10px;
    border:none;
    margin-bottom: 20px;
    background-color: black;
    color:white;
    font-size: 18px;
}
.contact button{
    cursor:pointer;
    background-color: transparent;
    border:2px solid black;
    width: fit-content;
    display: block;
    margin:20px auto;
    padding: 10px 22px;
    font: size 16px;
    color:black;
    position: relative;
    z-index: 10;
}
.contact button .overlay{
    position:absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: 2s;
}

    .contact button:hover .overlay{
 width: 100%;

}
.contact .col img{
    width: 100%;
}
.contact .col .info{
    position:absolute;
    top:42%;
    background-color: black;
    opacity: 70%;
    padding: 20px;
    max-width:  250px;
    left:50%;
    transform: translate(-50%,-50%);
}
.contact .col .info ul{
    list-style: none;
}
footer{
    background-color: #FF394A;
    color:white;
    padding:20px 15px;
    text-align: center;
    position: relative;
    width: 100%;
    
}
footer.social{
    margin-bottom: 20px;
}
footer .social a{
    color:black;
    display: inline-block;
    text-decoration: none;
    border: 1.5px solid white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 20px 20px;
    font-size: 20px;
    transition: .3s;
    
    
}
footer .up{
    display:block;
    width:50px;
    height: 50px;
    color:white;
    background-color: black;
    position:absolute;
    left:50%;
    transform: translate(-50%);
    top:-25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
footer  .social a:hover{
    background-color: white;
   }
/*Responsive*/
@media screen and (max-width:980px){
  body{
    box-sizing: border-box;
    font-family:'Work Sans';
   
    width: 100%;
    background-color: #FF394A;
                      
}
    nav{
        display:none;
    }
    .nav-responsive{
        display:block;
    }
    nav.responsive{
        display:block;
        position:absolute;
        right:0;
        top:75px;
        background-color: #FF394A;
        width:180px;

}
    nav.responsive ul{
     display:block !important;
 }
  nav.responsive ul li{
    border-bottom: 1px solid white;
    padding:10px;
 }
}
@media screen and(max-width:700px){
    body{
    box-sizing: border-box;
    font-family:'Work Sans';
    width: 100%;
    background-color: #FF394A;
    
}
.about .row{
    display:block;
 }
 .about .row .col{
    width:fit-content;
 }
 .skills .row{
    display:block;
 }
 .skills .row .col{
    width:100%;
 }
 .skills .row .col .skill-bar{
    width: 100%;
}
.curriculum .row{
    display:block;
   
}
.curriculum .row .col{
    width:90%;
    
    
}
.curriculum .right .col{
    margin-left:  -400px; ;
    scroll-margin: left;
    float:left;
    margin-bottom: 400px;
    position: relative;
   
}
    
.contact .row{
    display:block;

}
 .contact .row .col{
    width: 100%;
}
}
.cv1{
    color:black;
}

html,body{
    max-width: 100% !important;
    overflow: auto;
   
}

@media screen and (max-width:980px){   
#wo{
    margin-left:  1.55px; 
    
}
.curriculum .row{
    display:block;
   
}
.curriculum .row .col{
    width:90%;
}
}

@media screen and (max-width:980px){   
#mp{
margin-left: 60px;


}
.contact .row{
    display:block;
    
}
.contact .row .col{
    width:75%;
}
.contact .info{
    font-size: 6px;
}
.contact .col .info{
    position:absolute;
    bottom:32%;
    background-color: black;
    opacity: 70%;
    padding: 10px;
    max-width:  100px;
    max-height: 40px;
    transform: translate(-20%,-20%);
    margin-left: -30px;
    
    
}
#form{
width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about #change{
    font-size: 10px;
}
.about h3{
    font-size:13px;
 }

}
